.row{
    height: 40px;
}

.pointer{
    cursor: pointer;
}

.unpair:hover{
    background: red;
    cursor: pointer;
}

.color1{
    background: rgb(0, 98, 255) !important;
}

.color2{
    background: rgb(0, 183, 255) !important;
}

.color3{
    background: rgb(231, 190, 5) !important;
}

.color4{
    background: rgb(255, 0, 255) !important;
}

.color5{
    background: rgb(112, 0, 112) !important;
}

.color6{
    background: rgb(5, 168, 5) !important
}

.color7{
    background: magenta !important;
}

.color8{
    background: rgb(0, 204, 255) !important;
}

.color9{
    background: rgb(218, 67, 67) !important;
}

.color10{
    background: rgb(255, 102, 0) !important;
}

.color11{
    background: rgb(96, 163, 96) !important;
}

.color12{
    background: rgb(19, 19, 19);
}

.color13{
    background: rgb(19, 19, 19);
}

// Mobile

.mobile{
    display: none;

    h4{
        font-size: 20px !important;
    }
}

@media  (max-width:1200px) {

    .desktop{
        display: none !important;
    }

    .mobile{
        display: block;
    }

}
