<main class="container-fluid">

    <app-dropdown-fields
    [sports]="sports"
    [categories]="categories"
    [competitions]="competitions"
    [competitors]="competitors"
    [players]="players"
    [spinnerStatus]="spinnerStatus"
    [errorStatus]="errorStatus"
    [errorMsg]="errorMsg"
    (id)="getCategoryForSport($event)"
    (catId)="getCompetitions($event)"
    (competId)="getCompetitors($event)"
    (competitorId)="getPlayers($event)"
    (newValue)="getForm($event)"
    ></app-dropdown-fields>

</main>

<div class="error" *ngIf="errorStatus">
    <div class="bg-danger m-2 p-2 d-flex justify-content-center text-dark border shadow">
        <p class="text-light" style="font-size: 18px;width: 350px; text-align: center; overflow-wrap: break-word;">
            Error occurred!
            <br>
            <strong>
                Most common cases are that values couldn't load
            </strong>
        </p>
    </div>
</div>
